/* Slider */
.slick-slider{position:relative; display:block; box-sizing:border-box; -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none; -webkit-touch-callout:none; -khtml-user-select:none; -ms-touch-action:pan-y; touch-action:pan-y; -webkit-tap-highlight-color:transparent;}
.slick-list{position:relative; display:block; overflow:hidden; margin:0; padding:0;}
.slick-list:focus{outline:none;}
.slick-list.dragging{cursor:pointer; cursor:hand;}
.slick-slider .slick-track, .slick-slider .slick-list{-webkit-transform:translate3d(0, 0, 0); -moz-transform:translate3d(0, 0, 0); -ms-transform:translate3d(0, 0, 0); -o-transform:translate3d(0, 0, 0); transform:translate3d(0, 0, 0);}
.slick-track{position:relative; top:0; left:0; display:block; margin-left:auto; margin-right:auto;}
.slick-track:before, .slick-track:after{display:table; content:'';}
.slick-track:after{clear:both;}
.slick-loading .slick-track{visibility:hidden;}
.slick-slide{display:none; float:left; height:100%; min-height:1px;}
[dir='rtl'] .slick-slide{float:right;}
.slick-slide img{display:block;}
.slick-slide.slick-loading img{display:none;}
.slick-slide.dragging img{pointer-events:none;}
.slick-initialized .slick-slide{display:block;}
.slick-loading .slick-slide{visibility:hidden;}
.slick-vertical .slick-slide{display:block; height:auto; border:1px solid transparent;}
.slick-arrow.slick-hidden{display:none;}

.slick-slider button{position:absolute; top:50%; transform:translateY(-50%); width:116px; height:84px; overflow: hidden; line-height: 1000px; cursor: pointer; z-index:2; outline:none; border:none; background-size: 100% !important;}
.slick-slider button.slick-prev { background:url(images/contleft-arrow.png) no-repeat center; left: 0;}
.slick-slider button.slick-next { background:url(images/contright-arrow.png) no-repeat center; right: 0;}
.slick-dots{position: absolute; bottom:-35px; display: block; width: 100%; padding: 0; list-style: none; text-align: center; z-index: 15;}
.slick-dots li{position: relative; display: inline-block; margin: 0 5px; padding: 0; float:none; width:auto; cursor: pointer; }
.slick-dots li button{font-size: 0; line-height: 0; display: block; width: 15px; height: 15px; border-radius: 50%; cursor: pointer; color: transparent; border: 0; outline: none;  position: relative; background: none; border: 1px solid #000;} 
/* .slick-dots li button:hover,.slick-dots li button:focus{background: #000; border: 2px solid rgba(255,255,255,0.1);} */
.slick-dots li button:hover:before,.slick-dots li button:focus:before{opacity: 1;}
.slick-dots li button:before{float: left; width: 20px; height: 20px; background: none; border-radius: 100%; -moz-border-radius: 100%; -webkit-border-radius: 100%; overflow: hidden;}
.slick-dots li.slick-active button{background: #000; border: 1px solid rgba(255,255,255,0.1); }

.slick-dots li a{ font-size: 20px; font-weight: 700; text-transform: uppercase; opacity: 0.6;}
.slick-dots li.slick-active a{ opacity: 1;}

 .products .slick-slider button, .testimonials .slick-slider button{width: 26px; height: 36px;}
.products .slick-slider button.slick-prev, .testimonials .slick-slider button.slick-prev{ background: url(images/left-arrow.png) no-repeat center; left: -20px; border: 1px solid #000; border-radius: 2px;}
.products .slick-slider button.slick-next, .testimonials .slick-slider button.slick-next{ background: url(images/right-arrow.png) no-repeat center; right: -20px; border: 1px solid #000; border-radius: 2px;}
/* shweta */
/* .slick-slider button.slick-contprev { background:url(images/contleft-arrow.png) no-repeat center; left: 0;}
.slick-slider button.slick-contnext { background:url(images/contright-arrow.png) no-repeat center; right: 0;} */